.homepage {
  text-align: center;
}

@keyframes pageLoadEffect {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.homepage {
  animation: pageLoadEffect 2s ease-out;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  width: 80%; /* Ajustez la largeur selon vos besoins */
  max-width: 600px; /* Limite la largeur maximale */
  margin: 20px auto; /* Centre les sections horizontalement */
  padding: 20px;
  background-color: #fbc926; /* Couleur de fond des sections */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Pour positionner les éléments enfants */
}

.character-image {
  margin: 10px 10px; /* Ajoutez un peu d'espace entre les images */
  border-radius: 15px; /* Coins arrondis pour les images */
  width: 150px; /* Largeur fixe pour les images */
  height: 200px; /* Hauteur fixe pour les images */
}

.section .images-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 {
  width: 80%; /* Ajustez la largeur selon vos besoins */
  max-width: 600px; /* Limite la largeur maximale */
  margin: auto; /* Centre les sections horizontalement */
  padding: 20px;
  background-color: #fbc926; /* Couleur de fond des sections */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Pour positionner les éléments enfants */
}

.center-button {
  display: block;
  margin: auto;
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2c2c2c;
  color: white; /* Couleur du texte en blanc */
  text-decoration: none;
}

.center-button2 {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fbc926;
  color: black; /* Couleur du texte en blanc */
  text-decoration: none;
}

.center-button2 {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fbc926;
  color: black;
  text-decoration: none;
}

.section3 {
  height: 95px;
  width: 80%; /* Ajustez la largeur selon vos besoins */
  max-width: 600px; /* Limite la largeur maximale */
  margin: 20px auto; /* Centre les sections horizontalement */
  padding: 15px;
  background-color: #fbc926; /* Couleur de fond de la section 3 */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Pour positionner les éléments enfants */
}

.train-container {
  position: relative;
  text-align: center;
}

.train-image {
  width: 70%;
  border-radius: 15px;
}

.train-title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.center-button2 {
  background-color: #fbc926;
  cursor: pointer;
}

.random-text-container {
  position: relative;
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  margin: 20px 0; /* Ajoutez de l'espace entre le paragraphe et le bouton */
  transition: opacity 1s ease-in-out;
}

.random-text-container.hidden {
  opacity: 0;
}

.random-text-container.visible {
  opacity: 1;
}

.random-text {
  position: absolute;
  top: calc(100% * var(--random-top));
  left: calc(100% * var(--random-left));
  transform: translate(-50%, -50%);
}

.random-text:nth-child(1) {
  --random-top: 0.1;
  --random-left: 0.2;
}
.random-text:nth-child(2) {
  --random-top: 0.3;
  --random-left: 0.8;
}
.random-text:nth-child(3) {
  --random-top: 0.5;
  --random-left: 0.5;
}
.random-text:nth-child(4) {
  --random-top: 0.7;
  --random-left: 0.3;
}
.random-text:nth-child(5) {
  --random-top: 0.9;
  --random-left: 0.7;
}
.random-text:nth-child(6) {
  --random-top: 0.2;
  --random-left: 0.6;
}
.random-text:nth-child(7) {
  --random-top: 0.4;
  --random-left: 0.4;
}
.random-text:nth-child(8) {
  --random-top: 0.6;
  --random-left: 0.1;
}

@media screen and (min-width: 768px) {
  .train-title {
    font-size: 10px;
  }
  .train-image {
    min-height: 100px;
    width: 300px;
  }
  .burger-menu {
    display: none; /* Masquer le menu burger pour les écrans larges */
  }

  .menu {
    display: flex; /* Afficher le menu pour les écrans larges */
    position: static;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
  }

  .menu a {
    padding: 10px 20px;
  }
}

.gryffindor {
  background-color: #740001;
}

.hufflepuff {
  background-color: #ecb939;
}

.ravenclaw {
  background-color: #222f5b;
}

.slytherin {
  background-color: #1a472a;
}
